/* Add styling for your page here */

.App {
  
}

.BakeryItem {
  
}

.itemsAndCart{
  display: flex;
}

.items{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  align-items: center;
}

.item{
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;  
}

img{
  width: 200px;
}

p{
  width: 200px;
  text-align: center;
}

.cart{
  width: 15%;
}