/* Add styling for your page here */

.App {
  
}

.BakeryItem {
  
}

h1{
  text-align: center;
  font-size: xx-large;
  font-family:fantasy;
}

.itemsAndCart{
  display: flex;
  padding-bottom: 1%;
}

.items{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  align-items: center;
  justify-content: center;
}

button{
  cursor:pointer;
  background-color: pink;
  border-radius: 4px;
  margin-top: 7px;
}

.item{
  width: 200px;
  border-style: solid;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
  align-items: center;  
  justify-content: center;
  border-color: pink;
}

img{
  width: 200px;
  border-radius: 4px;
}

.cart{
  width: 200px;
  white-space: pre;
}

.cart{
  width: 15%;
}