/* Add styling for your page here */

.App {
  
}

.BakeryItem {
  
}

.itemsAndCart{
  display: flex;
  padding-bottom: 1%;
}

.items{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  align-items: center;
  justify-content: center;
}

button{
  cursor:pointer;
  background-color: pink;
  border-radius: 4px;
  margin-top: 7px;
}

.item{
  width: 200px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;  
  justify-content: center;
  border-color: pink;
}

img{
  width: 200px;
  border-radius: 4px;
}

p{
  width: 200px;
  text-align: left;
  white-space: pre;
}

.cart{
  width: 15%;
}